/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
body {
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1440px;
}
h2{
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
h3{
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
h4{
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
p{
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{   
    text-decoration: none;
    color: black;
}

/* header */
header{
    height: 79px;
    display: flex;
    justify-content: space-around;
}
.index{
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 990px;
    width: 121px;
}
#logo {    
    margin-top: 30px;
    margin-left: 30px;
    width: 61px;
    height: 19px;
}
nav {
    display: block;
    display: flex;
    flex-direction: row;
    width: 328.6px;
    margin-top: 0px;
    padding-bottom: 14px;
    margin-right: 0px;
    align-items: center;
} 
.menu1{
    padding-top: 16px;
    margin-left: 42.3px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.menu2{
    padding-top:16px;
    margin-left: 69px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.menu1:hover{
    border-top: 2px solid;
    border-color:#0065FC;
    color: #0065FC;
}
.menu2:hover{
    border-top: 2px solid;
    border-color:#0065FC;
    color: #0065FC;
}

/*research */
.research{
    display: flex;
    flex-direction: column;
    width: 1340px;
    height: 281px;
    padding-left: 50px;
    gap: 35px;
}
.researchtitle{
    height: 53px;
    gap: 8px;
}
form{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 0px;
    width: 377px;
    height: 49px;
}
.fa-location-dot{
    width: 50px;
    height: 49px;
    color: black;
}
.fa-location-dot:before{
    position: relative;
    width: 14px;
    height: 18px;
    left: 18px;
    top: 15px;
}
input [type=search]{
    width: 195px;
    border: hidden;
    height: 21px;
}
::placeholder{
    align-items: center;
    width: 147px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center; 
}
input[type=submit]{
    padding: 14px 16px;
    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.filters{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px;
    gap: 10px;
}
.filter:hover{
    background: #DEEBFF;
}

/* Hébergements - Populaires Card1-2 */

.hébergements-and-populaires{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 40px;
    width: 1340px;
    height: 611,5px;
}
.hébergements{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px; 
    width: 871px;
    height: 611.5px;
}
.aligncard1{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 30px;
    width: 811px;
    height: 207.25px;
}
.card1 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 250.33px;
    height: 207.25px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.1);
    border-radius: 20px;
  }
  .card1 img {
    object-fit: cover;
    width: 250.33px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
  }
    .textcard1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 15px;
    gap: 8px;
    height: 64.25px;
}
.blue_star{
    display: flex;
    flex-direction: row;
}

/* Populaires */
.populaires{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    width: 429px;
    height: 611.5px;
}
.titlepopulaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 369px;
    height: 26px;
}
.aligncard2{
    display:flex;
    flex-direction: column;
    padding: 0px;
    gap: 30px;
    width: 369px;
    height: 492px;
}
.card2{
    display: flex;
    flex-direction: row;
    width: 369px;
    height: 144px;    
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.1);
    border-radius: 20px; 
}
.card2 img {
    object-fit: cover;
    width: 123px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
  }
.textcard2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px 5px 15px;
    gap: 24px;
    width: 246px;
    height: 134px;
}
.titlecard2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: 226px;
    height: 83px;
}
.blue_star2{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}