/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
body {
    margin: 0px;
    padding: 0px;
    /*font-size: 10px;*/
}
.container{
    width: 1440px;
}
h2{
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    /*font-size: 1rem;*/
    line-height: 26px; 
}
h3{
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
h4{
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
p{
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{   
    text-decoration: none;
    color: black;
}

/* header */
header{
    height: 79px;
    display: flex;
    justify-content: space-around;
}
.index{
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 990px;
    width: 121px;
}
#logo {    
    margin-top: 30px;
    margin-left: 30px;
    width: 61px;
    height: 19px;
}
nav {
    display: block;
    display: flex;
    flex-direction: row;
    width: 328.6px;
    margin-top: 0px;
    padding-bottom: 14px;
    margin-right: 0px;
    align-items: start;
} 
.menu1{
    padding-top: 16px;
    margin-left: 42.3px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.menu2{
    padding-top:16px;
    margin-left: 69px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.menu1:hover{
    border-top: 2px solid;
    border-color:#0065FC;
    color: #0065FC;
}
.menu2:hover{
    border-top: 2px solid;
    border-color:#0065FC;
    color: #0065FC;
}

/*research */
.research{
    display: flex;
    flex-direction: column;
    width: 1340px;
    height: 281px;
    margin-left: 50px;
    gap: 35px;
}
.researchtitle{
    height: 53px;
    gap: 8px;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0px;
    width: 377px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}
.fa-location-dot{
    width: 50px;
    height: 49px;
    color: black;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.fa-location-dot:before{
    position: relative;
    width: 14px;
    height: 18px;
    left: 18px;
    top: 15px;
}
#champ{
    width: 195px;
    height: 49px;
    padding: 0px;
    border: hidden;
}
#champ::placeholder{
    width: 147px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center; 
}
input[type=submit]{
    padding: 14px 16px;
    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.filters{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px;
    gap: 10px;
}
.filter:hover{
    background: #DEEBFF;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 20px;
    padding: 0px;
    width: 1340px;
    height: 24px;
}

.fa-info::before{
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    padding: 50% 100%;
    max-height: 24px;
    max-width: 24px;
}

/* Hébergements - Populaires Card1-2 */

.hébergements-and-populaires{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    gap: 40px;
    width: 1340px;
    height: 611,5px;
}
.hébergements{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding: 30px;
    gap: 30px; 
    width: 871px;
    height: 611.5px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.aligncard1{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 30px;
    width: 811px;
    height: 207.25px;
}
.card1 {
    display: flex;
    flex-direction: column;
    width: 250.33px;
    height: 207.25px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.1);
    border-radius: 20px;
    background: #FFFFFF;
  }
.card1 img {
    object-fit: cover;
    width: 240.33px;
    height: 124px;
    border-top: 5px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
  }
.textcard1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin: 0px 5px;
    width: 240.33px;
    height: 64.25px;
    background: #FFFFFF;
}
.pcards{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.blue_star{
    display: flex;
    flex-direction: row;
    width: 81px;
    font-size: 13.25px;
}
.empty{
    color: #F2F2F2;
}

/* Populaires */
.populaires{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding: 30px;
    gap: 30px;
    width: 429px;
    height: 611.5px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.titlepopulaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 369px;
    height: 26px;
}
.aligncard2{
    display:flex;
    flex-direction: column;
    padding: 0px;
    gap: 30px;
    width: 369px;
    height: 492px;
}
.card2{
    display: flex;
    flex-direction: row;
    width: 369px;
    height: 144px;    
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
    border-radius: 20px; 
}
.card2 img {
    object-fit: cover;
    width: 123px;
    height: 134px;
    border-top: 5px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
  }
.textcard2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0px;
    gap: 24px;
    width: 246px;
    height: 134px;
    border-radius: 0px 20px 20px 0px;
    background: #FFFFFF;
}
.titlecard2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 15px;
    gap: 5px;
    width: 226px;
    height: 83px;
}
.blue_star2{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    width: 68px;
    font-size: 12px;
    margin-bottom: 10px;
}

/* Activites */
.activites{
    display:flex;
    flex-direction: column;
    margin-top: 65px;
    margin-left: 50px;
    width: 1340px;
    height: 559.02px;
}
.aligncard3{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}
.card3{
    display: flex;
    flex-direction: column;
    width: 297.5px;
    height: 439px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}
.card3 img{
    object-fit: cover;
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}
.textcard3{
    margin-top: 20px;
    margin-left: 19px;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    width: 1340px;
    height: 163px;
    background: #F2F2F2;
}
.foot1{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
    gap: 15px;
}